@import 'tailwindcss';

@theme {
  --font-space-grotesk: var(--font-space-grotesk);
  --font-inter: var(--font-inter);
}

:root {
  --gradient: linear-gradient(135deg, #7f00ff 0.84%, #24c0f4 100%);
  --primary-start: #7f00ff;
  --primary-end: #24c0f4;
  --focused: #561fc0;
  --hover: #b388ff;
  --secondary: #00d1b2;
  --white: #ffffff;
  --grey-100: #2a2a2d;
  --grey-50: #67666b;
  --grey-30: #a9a9b0;
  --grey-20: #d4d4d5;
  --grey-10: #f0f1f5;
  --error: #dc1313;
  --success: #1ab31f;
  --info: #321fc0;
  --warning: #f2f51e;

  @layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-space-grotesk);
    }
  }

  @layer base {
    h1 {
      @apply font-bold text-6xl leading-[1.2];
    }
    h2 {
      @apply font-bold leading-[1.2] text-4xl lg:text-[40px] xl:text-5xl text-[var(--grey-100)];
    }
    h3 {
      @apply font-bold text-3xl leading-[1.5];
    }
    h4 {
      @apply font-bold text-2xl leading-[1.5] text-[var(--grey-100)];
    }
    h5 {
      @apply font-bold text-base leading-[1.5];
    }
    h6 {
      @apply text-2xl leading-[1.5] font-normal;
    }
  }
}

/* @theme inline {
  --color-background: var(--white);
  --color-foreground: var(--white);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: linear-gradient(135deg, #7F00FF 0%, #24C0F4 100%);
  }
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--white);
  color: var(--grey-100);
}
